# Visual Studio
.vs/
*.user
*.suo
*.sln.ide
*.userprefs

# Build results
[Bb]in/
[Oo]bj/
*.dll
*.exe
*.pdb

# Visual Studio Code
.vscode/

# Rider
.idea/

# NuGet Packages
*.nupkg
packages/
*.snupkg

# Logs
*.log

# Temporary files
*.tmp
*.temp

# Backup files
*.bak

# User-specific files
*.swp
*.swo

# Other files
*.mdb
*.dbmdl
*.dbproj.schemaview
